html, body {
    margin: 0;
    padding: 0;
    background: #3B3B3B;
}
.mainMenuWrapper {
    max-width: 100%;
    background-color: #2D2D2D;
    padding: 0% 4% 0% 4%;
    height: auto;
    border-bottom: solid 2px #FFCD00;
}

.menuBranding {
    font-family: 'Cresta', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 22pt;
    color: #FFCD00;
    display: inline-block;
    margin-right: 15px;
}

.menuLink {
    font-family: 'Nimbus Sans', 'Arial', sans-serif;
    font-weight: 400;
    color: WHITE;
    font-size: 14pt;
    text-decoration: none;
    display: inline-block;
    vertical-align: 2.5px;
    cursor: pointer;
    text-transform: lowercase;
    margin-right: 12px;
}

.menuLink:hover {
    color: #8F8F8F;
}

.contentWrapper {
    padding: 2% 5% 10% 5%;
}
